---
import Navbar from "../components/Navbar.astro";
import MainLayouts from "../layouts/MainLayouts.astro";

//server only
const name = 'Angel Lugo Hola';
const title = 'Astro project';
---

<MainLayouts title="HomePage">	

	<h1>{name}</h1>
	<p id="current-time">momento actual: </p>
	
	<script>
		//Client only
		const footer = document.querySelector('footer') as HTMLElement;
		const currentTimeParagraph = document.querySelector(
			'#current-time'
		) as HTMLParagraphElement;
		
		
		const currentYear: number = new Date().getFullYear();
		
		footer.innerText = `año: ${currentYear}`;
		currentTimeParagraph.innerText = `Momento actual real: ${ new Date().toLocaleTimeString() }`;
		
		//
		</script>
		</MainLayouts>
	
